@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

@font-face {
    font-family: 'Harry Potter Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Harry Potter Regular'), url('../topTrumps/fonts/HARRP___.woff') format('woff');
    }


body {
    background-image: url(../topTrumps/img/bgImg3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

header {
    color: #124559;
    width: 50%;
    height: 10%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-family: 'Harry Potter Regular';
    font-size: 0.8em;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: -3%;
}

footer{
    margin: auto;
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    font-family: 'Harry Potter Regular';
    color: gold;
    font-size: 1.2em;
}

.newGameBtn {
    background-color: rgba(89, 89, 89, 0.762);
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
    border-radius: 30px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#newGameBtn {
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    color: #aec3b0;
    font-family: 'Harry Potter Regular';
    margin: 5px auto;
}

.credits {
    display: flex;
    text-decoration-line: none;
    color: gold;
    margin-top: 5%;
    }

.credits > a {
    padding-left: 5px;
    text-decoration-line: none;
    color: gold;
    }

h3 {
    line-height: 0.7;
}

h4 {
    line-height: 0.2;
}

.players {
    color: #fff;
    margin: 3% auto;
    font-family: 'Harry Potter Regular';
    font-size: 1.3em;
}

.charImg {
    height: 40vh;
    width: 35vh;
    border-radius: 10px;
    border: 1px solid #eff6e0;
    border-bottom: 2px solid #aec3b0;
    border-left: 1px solid #aec3b0;
}


.playerCont {
    border: 1px solid rgb(187, 166, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #01161e;
    border-radius: 40px;
    text-align: center;
    min-width: 45vh;
}

.attrCont {
    margin: 5% auto;
    width: 35vh;
    border-radius: 10px;
    background-color: #EFF6E0;
}

.attribute {
    border-radius: 10px;
    width: 90%;
    margin: 2px auto;
    font-family: 'Barlow', sans-serif;
    color: #598392;
}

.fas{
   color: #01161E;
   padding: 0 3%;
}

.p1Score, .p2Score {
    font-family: 'Harry Potter Regular';
    color: white;
    font-size: 1.5em;
}

.name {
    color: #124559;
}

.name > h4 {
    text-decoration-line: underline;
}

